.title {
	font-family: starjedi;
	font-size: 136px;
	text-align: center;
	margin-bottom: 0;
	color: white;
}

header {
	background-image: url("../images/starback.jpg");
}

.subtitle {
	margin-top: 0;
	font-size: 38px;
	padding-right: 100px;
	text-align: right;
	font-family: starjedi;
	color: white;
}

p {
	font-size: 36px;
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

@font-face { 
	font-family: starjedi; 
	src: url('../fonts/star_jedi/starjout/Starjout.ttf'); 
} 

body {
	background-image: url("../images/wallpaper.jpg");
	background-size: cover;
}

#maincontent {
	color: white;
}

.letter {
    width: 150px;
    height: 165px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
  }

.letter-button-color {
    color: blue;
    font-size: 16px;
}

.hero {
    color: green;
    font-size: 16px;
    background-color: gainsboro;
    text-align: center;
    border: 2px solid green;
}

.villain {
    color: red;
    font-size: 16px;
    background-color: gainsboro;
    text-align: center;
    border: 2px solid red;
}



